.home-drop-ctnr {
	position: absolute;
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    
    .home-drop-text {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        color: white;
    }

    .home-drop-line {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1px;
        padding: 0 15px;
        color: transparent;
        border-bottom: 1px solid white;
    }

    .home-drop-btn {
        padding: 5px 15px;
        margin: 0 15px;
        border: 1px solid white;
        transition: all 0.5s ease;

        &:hover {
            cursor: pointer;
            border-color: #6f9cbb;
	        color: #6f9cbb;
        }
    }

    .home-drop-choices {
        position: absolute;

        .home-drop-list {
            list-style: none;
            margin:0;
            padding: 0;
            
            
        }
    }
}

.drop-item {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    line-height: 31px;
    white-space: nowrap;
    /* text-transform: lowercase; */
    color: white;
    transition: color 0.5s ease;

    &.active {
        color: #6f9cbb;
    }
}

.occu-drop-ctnr {
	position: absolute;
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    
    .occu-drop-text {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        color: white;
    }

    .occu-drop-line {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1px;
        padding: 0 15px;
        color: transparent;
        border-bottom: 1px solid white;
    }

    .occu-drop-choices {
        position: absolute;

        .occu-drop-list {
            list-style: none;
            margin:0;
            padding: 0;
        }
    }
}