@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800&display=swap');

@import "preset";

body {
    position: relative;
}

.home-ctnr {
    position: relative;
    display: block;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    background-color:#121212;
    .home-modal-ctnr {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(18, 18, 18, 0.7);
        z-index: 11;
        opacity: 0;
        transform: translate(-40%, -44%) scale(0.01, 0.01);
        transition: all 0.5s ease;

        &.show {
            opacity: 1;
            transform: translate(0, 0) scale(1, 1);
        }
        
        .modal-close {
            margin: 30px 0 0 30px;
            width: 30px;
            height: auto;
            #close-btn {
                fill: white;
            }

            &:hover {
                #close-btn {
                    fill: #CCCCCC;
                }
                cursor: pointer;
            }
        }
    }
}

#home-chart-ctnr {
    position: relative;
    display: block;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
}

.maximizer {
    position: relative;
    width: 100%;
    max-width: 1440px;
    max-height: 800px;
    margin: 0 auto;
}

.occu-ctnr {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 1200px;
    height: 100%;
    height: 100vh;
    background-color:#121212;
    transform: translateY(100%);
    transition: 0.5s transform ease;
    overflow: hidden;

    &.show {
        transform: translateY(0);
    }

    .occu-filter-ctnr {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 100%;
        transition: all 0.5s ease;
        z-index: 21;

        .occu-prompt {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 30px 0 0 30px;
            background: #121212;
            z-index: 25;
            
            .occu-modal-close {
                width: 30px;
                height: auto;
                #close-btn {
                    fill: white;
                }

                &:hover {
                    #close-btn {
                        fill: #CCCCCC;
                    }
                    cursor: pointer;
                }
            }
            .occu-itin-summary {
                display: flex;
                flex-direction: row;
                margin-left: 25px;
    
                #plane-icon {
                    width: 55px;
                    height: auto;
                    fill: #BB8FCE;
                    transition: fill 0.2s ease;
                }
                #occu-itin-label {
                    font-size: 13px;
                    color: #BB8FCE;
                }

                &:hover {
                    #occu-itin-label {
                        color: #7380E0;
                    }
                    #plane-icon {
                        fill: #7380E0;
                    }
                }
            }
            

            .occu-itin {

            }
        }
        
    }
}

#occu-chart-ctnr { 
    position: relative;
    display: block;
    /* width: 100%; */
    width: 120vh;
    max-width: 80%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    margin: auto;
    margin-right: 0;
    z-index: 20;
}

.occu-year-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;

    .year-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #121212;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
    }
    .year-li {
        width: 100%;
        color: #777777;
        background: rgba(187, 143, 206, 0.2);

        &.active {
            color: white;
            background: rgba(187, 143, 206, 1);
            cursor: pointer;
        }
    }
}

.pulsating {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
@keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}


@import "dropdown";

@media only screen and (min-height: 800px) {
    .maximizer{
        padding-top: calc((100vh - 800px) / 3);
    }
    .occu-drop-ctnr {
        margin-top: calc((100vh - 800px) / 3);
    }
    #occu-chart-ctnr {
        width: 900px;
        height: 800px;
    }
}