@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800&display=swap');

@import "preset";

body {
    position: relative;
}

.home-ctnr {
    position: relative;
    display: block;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    background-color:#121212;
    .home-modal-ctnr {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(18, 18, 18, 0.7);
        z-index: 11;
        opacity: 0;
        transform: translate(-40%, -44%) scale(0.01, 0.01);
        transition: all 0.5s ease;

        &.show {
            opacity: 1;
            transform: translate(0, 0) scale(1, 1);
        }
        
        .modal-close {
            margin: 30px 0 0 30px;
            width: 30px;
            height: auto;
            #close-btn {
                fill: white;
            }

            &:hover {
                #close-btn {
                    fill: #CCCCCC;
                }
                cursor: pointer;
            }
        }
    }
}

#home-chart-ctnr {
    position: relative;
    display: block;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
}

.occu-ctnr {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 1200px;
    height: 100%;
    height: 100vh;
    background-color:#121212;
    transform: translateY(100%);
    transition: 0.5s transform ease;
    overflow: hidden;

    &.show {
        transform: translateY(0);
    }

    .occu-filter-ctnr {
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 100%;
        transition: all 0.5s ease;
        z-index: 21;

        .occu-modal-close {
            margin: 30px 0 0 30px;
            width: 30px;
            height: auto;
            #close-btn {
                fill: white;
            }

            &:hover {
                #close-btn {
                    fill: #CCCCCC;
                }
                cursor: pointer;
            }
        }
    }
}

#occu-chart-ctnr { 
    position: relative;
    display: block;
    /* width: 100%; */
    width: 120vh;
    max-width: 80%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    margin: auto;
    margin-right: 0;
    z-index: 20;
}

.pulsating {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
@keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}

@import "dropdown";