@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800&display=swap');

@import "preset";

#home-chart-ctnr {
    position: relative;
    display: none;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    background-color:#121212;
}

#occu-chart-ctnr {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    background-color:#121212;
}

.pulsating {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
@keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0px;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}